<div class="overflow-y-scroll h-screen">
    <div class="h-screen" {{increase-height-by 2000}}>
        <main class="h-screen max-w-xl mx-auto pt-10 pb-12 lg:pb-16" ...attributes>
            {{yield}}
        </main>
    </div>
</div>