<div class="overflow-y-scroll h-screen">
    <div class="h-screen">
        <main class="h-screen max-w-xl mx-auto pt-4" ...attributes>
            {{yield}}
            <Spacer @height="400px" />
        </main>
    </div>
</div>